<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <context:component-scan base-package="se.codemate"/>
    <context:spring-configured/>
    <context:load-time-weaver/>

    <bean id="neoService" class="org.neo4j.kernel.EmbeddedGraphDatabase" destroy-method="shutdown">
        <constructor-arg value="/tmp/neo4j-test"/>
    </bean>

    <bean id="neoServiceInitializer" class="se.codemate.spring.initializer.NeoServiceInitializer">
        <constructor-arg ref="neoService"/>
        <property name="configuration" value="classpath:neo4j.xml"/>
    </bean>

    <bean id="neoSearch" class="se.codemate.neo4j.NeoSearch" destroy-method="shutdown">
        <constructor-arg ref="neoService"/>
    </bean>

    <bean id="userDetailsService" class="se.codemate.spring.security.NeoUserDetailsService"/>

</beans>